@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body {
    height: calc(100vh - 50px);
  }
}

textarea::-webkit-scrollbar {
  width: 12px;
}

/* Customize the scrollbar thumb (the draggable part) */
textarea::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 12px;
}

::-webkit-scrollbar {
  width: 0.5em;
  color: #0066cc;
}

::-webkit-scrollbar-track {
  background: #3366cc;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00ccff;
  border-radius: 12px;
}
